# Build results
*.o
*.d
*.ezx
*.dge
*.exe
*.elf

# Libraries
*.dll

# Packages
*.pkg
*.mpkg
*.tar.gz
*.deb
*.rpm
*.hpkg

# Data files.
BANK*
MEMLIST.BIN

# Save files
*.DAT

raw
raw.i386
raw.ezx
raw.magz
